body {
  background-color: "#ffffff";
}

#imgleft {
  width: 175px;
  float: left;
  margin-right: 10px;
}

#trophy {
  color: #AA0000;
  text-shadow: 1px 1px 1px #ccc;
  width: 20px;
}

a {
  color: black;
  text-decoration: none;
  /* dots under each link */
  background-image: linear-gradient(to right, black 50%, transparent 50%);
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 2px 3px;
}
